	html
		{
		font-size: 100%;
		box-sizing: border-box;
		text-decoration: none;
		background-color: #d5d5d7
		}

	*, *:before, *:after
		{
		box-sizing: inherit;
		}

	body
		{
		font-family: 'Open Sans', sans-serif;
		font-size: 18pt;
		line-height: 15pt;
		margin: 0 auto 0 auto;
		text-decoration: none;
		}

	.cf:before, .cf:after
		{
	    content: " ";
	    display: table;
		}

	.cf:after
		{
	    clear: both;
		}


	/*  Drop Down Menu Navigation Ends Here  */
		#dropDownContainer
			{
			display: none;
		    background-color: #f4f5f8;
		    height: 30px;
			}

		.menuDivider
			{
		    background: #f4f5f8;
		    width: 1px;
		    height: 30px;
		    margin-left: 15px;
		    float: left;
			}

		#dropDown
			{
		    margin: 0px auto 0px auto;
			background: #f4f5f8;
			height: 30px;
			line-height: 30px;
			z-index: 1;
			}

		.homeIconDropDown a:hover
			{
			color: #ffffff;
			text-decoration: none;
			}
	 .closeIcon
			{
			background: none;
			position: static;
			top: 0px;
			right: 0px;
			padding: 0px 15px 0px 15px;
			color: #ffffff;
			border: 0px;
			font-weight: 400;
			cursor: pointer;
			outline: none;
			z-index: 1;
			}

		.closeIcon
			{
			line-height: 60px;
			font-size: 2.5em;
			}

		.dropDownMenu
			{
			max-width: 900px;
		    margin: 0px auto  0px auto;
			z-index: 2;
			font-weight: 400;
			font-size: 16px;
			width: 90%;
			background: #f4f5f8;
			position: static;
			text-align: center;
			text-transform: uppercase;
			}

		.dropDown a
			{
			color: #ffffff;
			text-decoration: none;
			padding-left: 5px;
			}
		 
		.dropDownMenu li
			{
			display: block;
			padding: 5px 0px 5px 0px;
			border-top: solid 1px #000;
			border-bottom: solid 1px #000;
			z-index: 2;
			}

		.menusSubmenu
			{
			display: block;
			background: #f4f5f8;
			z-index: 2;
			}

		.dropDownMenu li:hover
			{
			display: block;
			background: #f4f5f8;
			padding: 5px 0px 5px 0px;
			border-top: solid 1px #f4f5f8;
			border-bottom: solid 1px #d5d5d7;
			}

		.dropDownMenu ul li a:hover
			{
			color: #000;
			text-decoration: none;
			}

		.dropDownMenu a, .dropDownMenu a:hover
			{
			text-decoration: none;
			color: black;
			}
	/*  Drop Down Menu Navigation Ends Here  */


	/*  Wide Menu Navigation Starts Here  */
		#mainMenuOuterContainer
			{
		    background-color: #f4f5f8;
		    height: 80px;
			}

		#mainMenuInnerContainer
			{
		    max-width: 900px;
		    margin: 0 auto  0 auto;
		   	background-color: #f4f5f8;
		   	height: 80px;
			}

		#mainMenuButtons
			{
			width: 90%;
		    display: flex;
			justify-content: space-around;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
		   	height: 80px;
			}

		.homeIconStatic a
			{
			color: #3599CC;
		    width: 5%;
		    float:left;
		    text-align: center;
		    padding-left: 15px;
		    padding-top: 5px;
		    text-decoration: none;
			}

		
		.homeIconStatic a:hover
			{
			color: #ffffff;
			text-decoration: none;
			}

		.mainMenuButton a
			{
		    color: #000;
			text-shadow: 0.5px 0.5px 0.5px #000;
		    text-decoration: none;
			text-align: center;
		    font-size: 16px;
		    font-weight: 400;
		    text-transform: uppercase;
			}

	 	.mainMenuButton a:hover
			{
		    color: #3599CC;
			}

	/*....................Wide Menu Navigation Ends Here..................*/
	/*............................Header 2..................................*/
  #logo{ 
	  
	  min-height: 900px;
	  min-width: 900px; 
	  padding-left: 15px;
  }
	/*............................Header 2..................................*/








	
	/*..............................categories............................*/
		#categories{
			display: flex;
			justify-content: space-around;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;

}

    /*..............................categories............................*/
	/*..............................footer............................*/
footer {
	width:900px; 
	margin:80px; 
	background-color:#f4f5f8
	; 

}

#copyright{
	color:#231E1F; 
	font-size:12px; 
	text-transform: none;
	}
#copyright p{
	margin:5px;
 	padding: 20px;
	 }
#copyright a{ 
	margin-top:8px;
	}

#copyright a #icon .icon{
	width:900px;
	}
#one{
	margin-right: 3px;
	float:right;
	}
#one:hover{
	margin-right: 3px; 
	float:right;
	background-color:#f4f5f8; 
	border-radius:100%;
	box-shadow:0px 1px 1px 2px #000000;
	 }
#two{
	margin-right: 3px; 
	float:right;
	}
#two:hover{
	margin-right: 3px; 
	float:right;
	background-color:#f4f5f8;
	border-radius:100%; 
	box-shadow:0px 1px 1px 2px #000000;}
#tree{
	margin-right: 3px;
	float:right;
	} 
#tree:hover{
	margin-right: 3px;
	float:right;
	background-color:#f4f5f8;
	border-radius:100%; 
	box-shadow:0px 1px 1px 2px #000000;
	}
	/*..............................footer............................*/