	html
		{
		font-size: 100%;
		box-sizing: border-box;
		text-decoration: none;
		background-color: #d5d5d7;
		}

	*, *:before, *:after
		{
		box-sizing: inherit;
		}

	body
		{
		margin: 0 90px 0 90px;	
		font-family: 'Arial, Helvetica, sans-serif';
		font-size: 3.0vh;
		margin: 0 auto 0 auto;
		text-decoration: none;
		
		}
		
	h1 {
  		font-size: 5.9vw;
		}
	h2 {
  		font-size: 3.0vh;
	   }
	p {
  		font-size: 2vmin;
	  }

	.cf:before, .cf:after
		{
	    content: " ";
	    display: table;
		}

	.cf:after
		{
	    clear: both;
		}


	/*........................Drop Down Menu.......................*/
		#dropDownContainer
			{
			display: none;
		    background-color: #f4f5f8;
		    height: 80px;
			}

		#dropDown
			{
		    margin: 0px auto 0px auto;
			background: #f4f5f8;
			height: 60px;
			line-height: 80px;
			z-index: 1;
			}
	 .closeIcon
			{
			background: none;
			position: static;
			top: 0px;
			right: 0px;
			left: 0px;
			padding: 0px 15px 0px 15px;
			color: #ffffff;
			border: 0px;
			font-weight: 400;
			cursor: pointer;
			outline: none;
			z-index: 1;
			}

		.closeIcon
			{
			line-height:80px;
			padding-left: 15px;
			}
	/*.......................................Drop Down Menu Navigation.......................................*/


	/*.................................Wide Menu Navigation Starts Here......................................*/
		#mainMenuOuterContainer
			{
		    background-color: #f4f5f8;
		    height: 80px;
			}
		#mainMenuButtons
			{
			width: 90%;
		    display: flex;
			justify-content: space-around;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
		   	height: 80px;
			}

		.mainMenuButton a
			{
		    color: #000;
			text-shadow: 0.5px 0.5px 0.5px #000;
		    text-decoration: none;
			text-align: center;
		    font-size: 16px;
		    font-weight: 400;
		    text-transform: uppercase;
			}

	 	.mainMenuButton a:hover
			{
		    color: #3599CC;
			}

	/*....................................Wide Menu Navigation.....................................*/
	/*............................Header 2..................................*/
		.header2{
			width: 96%;
			max-width: 960px;
			margin: 0 auto;
            }
		logo {
			width: 100%;
			height: auto;
			}
			

			#cart-container{
				float: right;
		
				}
	/*............................Header 2..................................*/



	/*..............................categories............................*/
		#categories{
			margin: 90px 90px 90px 90px;
			padding: 20px;
			width: 90%;
		    display: flex;
			justify-content: space-around;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;

			}
    /*..............................categories............................*/
	/*................about us................*/
	.about{ 
		margin:0 90px 0 90px;
	}	

	.about h1,h2,h3
			{
			font-family:'Arial, Helvetica, sans-serif';
			font-size: 5.0vw;
			font-style: italic;
			text-align:center;
			margin:70px 0 70px 0px;
			}	
		
	.about p{  
			font-family:'Arial, Helvetica, sans-serif';
			font-size: 3.0vh;  
			text-align: justify; 
			margin: 30px;
			}	
      .img0{    
			width: 10%;
			height: auto;
			align-content:center; 
			}
		.img1{
			width: 100%;
			height: auto;
			text-align:center; 		
		    }
     /*............................about us..........................*/
	 /*............................index.............................*/
	 	.container img{	
			height: auto; 
			width:20%;
		    display: flex;
			justify-content: space-around;
			flex-direction: row;
			align-content:center; 
			float:right;	
			flex-wrap: wrap;
		    }
     /*............................index.............................*/		


	/*..............................footer............................*/
.footer { 
	background-color: #7E8083;
	height: 45px;
	margin-top:40px; 
    }
#copy #icon{
	color:#000000; 
	font-size:12px; 
	text-transform: none;
	}
#copy:hover{
	color:#000000; 
	font-size:24px; 
	text-transform: none;
	text-shadow: 2px 2px 2px #ffffff;
	}	
#one{
	align-items: right; 
	margin-right: 3px;
	float:right;
	}
#one:hover{
	margin-right: 3px; 
	float:right;
	background-color:#f4f5f8; 
	border-radius:100%;
	box-shadow:0px 1px 1px 2px #000000;
	 }
#two{
	margin-right: 3px; 
	float:right;
	}
#two:hover{
	margin-right: 3px; 
	float:right;
	background-color:#f4f5f8;
	border-radius:100%; 
	box-shadow:0px 1px 1px 2px #000000;}
#tree{
	margin-right: 3px;
	float:right;
	} 
#tree:hover{
	margin-right: 3px;
	float:right;
	background-color:#f4f5f8;
	border-radius:100%; 
	box-shadow:0px 1px 1px 2px #000000;
	}
	/*..............................footer............................*/